<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <a href="/board/list"
        ><img
          src="/images/exception.png"
          alt="넌 못들어온다"
          style="width: 600px; height: 600px"
      /></a>
    </div>
    <br /><br />
    <div style="display: flex; justify-content: center; font-size: 5rem">
      <a href="/board/list" style="color: red; font-weight: 500"
        >여기를 누르고 나가시오!!</a
      >
    </div>
  </body>
</html>
